cpp/build/
go/ccc
target/
__pycache__/
*.pyc
*.o
*.a
*.out
*.beam
*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json
*.cache
*.lock
node_modules/
_build/
.zig-cache/
zig-out/
dist-newstyle/
_opam/
.deps/
dub.selections.json
_build/
*.log
elm-stuff/
vendor/
.bundle/
*.so
*.dSYM
call_coding_clis/ccc
nim/build/
nim/call_coding_clis/
crystal/ccc
haskell/dist-newstyle/
elixir/_build/
elixir/ccc
ocaml/_build/
ocaml/_opam/
fsharp/src/App/bin/
fsharp/src/App/obj/
fsharp/src/Library/bin/
fsharp/src/Library/obj/
fsharp/tests/bin/
fsharp/tests/obj/
php/vendor/
.ruff_cache/
.goal-loops/
