cpp/build/
go/ccc
target/
__pycache__/
*.pyc
*.o
*.a
*.out
*.beam
*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json
*.cache
*.lock
!Cargo.lock
!dub.selections.json
node_modules/
.zig-cache/
zig-out/
dist-newstyle/
_opam/
.deps/
dub.selections.json
*.log
elm-stuff/
vendor/
.bundle/
*.so
*.dSYM
nim/build/
nim/call_coding_clis/
nim/src/call_coding_clis/ccc
crystal/ccc
haskell/dist-newstyle/
elixir/_build/
elixir/ccc
ocaml/_build/
ocaml/_opam/
fsharp/src/App/bin/
fsharp/src/App/obj/
fsharp/src/Library/bin/
fsharp/src/Library/obj/
fsharp/tests/bin/
fsharp/tests/obj/
php/vendor/
.ruff_cache/
.goal-loops/
d/ccc
d/call-coding-clis-test-application
d/dub_test_json_out
nim/tests/test_json_output
nim/tests/test_parser
nim/tests/test_runner
_build/
MICROPLAN.md
elixir/deps/
.subagent-logs/
